*{
    font-family: "Times New Roman";
}
h1.subject{
    text-align: center;
    color:black;

}
body{
    background-color: white;

}
table.products{
    border-collapse:collapse ;
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}