{% extends 'layout/base.html'%}<!-- extends cần thay đổi j thì ghi đè lên như sau -->
{%block title%}Trang chủ{%endblock%}
{%block content%}
<h1 class="subject"> Chào Mừng Các Bạn Đến Với website Bán Hàng Trực Tuyến</h1>

    <h1 class="subject"> Danh Sách Sản Phẩm</h1>
    {%if pages > 1 %}
    <ul class="pagination">
      {%for page in range(1,pages+1) %}
        <li class="page-item"><a class="page-link" href="{{url_for('main',page=page)}}">{{page}}</a></li>
      {%endfor%}
    </ul>
    {%endif%}
    {%if products%}
    <div class="row">
        {%for p in products%}
        <div class="col-md-3 col-xs-12" style="padding: 5px">
            <div class="card" >
              <img class="card-img-top" src="{{url_for('static',filename=p.image)}}"  height="320px" alt="{{p.name}}">
              <div class="card-body">
                <h4 class="card-title">{{p.name}}</h4>
                <p class="card-text">{{"{:,.1f}".format(p.price)}}</p>
                <a href="#" class="btn btn-primary">Đặt Hàng</a>
              </div>
            </div>

        </div>
        {%endfor%}
    </div>
    {%else%}
    <p><i>Hiện Tại Chưa Có Sản Phẩm</i></p>
    {%endif%}


{%endblock%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" >
</head>
<body>

</body>
</html>
